.calcContainer {
  width: 40%;
}
.calcContainer {
  margin-top: 3rem;
  width: 40%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.cont {
  margin-top: 3rem;
  font-size: x-large;
}

.cont h5 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home-cont {
  margin: 0 auto;
  padding: 1rem;
}
