.quote {
  /* border: 1px solid blue; */
  width: 50%;
  height: 50%;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
  font-size: xx-large;

  /* background-color: rgb(250, 221, 226); */
}
