* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  /* border: 1px solid red; */
  padding-top: 15rem;
  padding-bottom: 14.3rem;
  display: flex;
  justify-content: space-around;
  /* background-image: url("./img/bg.jpg"); */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}